html {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 2px 4px rgba(0,0,0,0.1),
    inset 0 0 1px 2px #EFEFEF,
    inset 0 0 30px black,
    0 0 10px 3px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

/* 指針軸心 */
.clock-face::after {
  display: block;
  content: '';

  width: 1em;
  height: 1em;

  position: absolute;
  left: 50%;
  top: 50%;

  background-color: #a8c5d1;
  border-radius: 50%;

  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  top: 50%;
  right: 50%;

  box-shadow:
    0 0 0 .1px #fff,
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0 8px rgba(0, 0, 0, 0.4),
    2px 5px 1px rgba(0, 0, 0, 0.5);

  transform-origin: 100%;
}

/* 時針 */
.hour-hand {
  width: 40%;
  height: 10px;
  margin-top: -5px;

  background: #fff;
  border-bottom-left-radius: .5em;
  border-top-left-radius: .5em;

  transition: all 3s;
}

/* 分針 */
.min-hand {
  width: 45%;
  height: 5px;
  margin-top: -2.5px;

  background: #fff;

  transition: all .1s;
}

/* 秒針 */
.second-hand {
  width: 50%;
  height: 2px;
  margin-top: -1px;

  background-color: red;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;

  transition: all .05s;
  transition-timing-function: cubic-bezier(0.69, 0.53, 1, 2.06);
}
